<!-- pages/base.html -->
<header>
  <a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a>
</header>

{% block content %}
{% endblock %}

<footer>
    <div id = "footer-inner">
        <p>&copy; Copyright Risasi</p>


    </div>
</footer>